@charset "utf-8";
/* CSS Document */


@font-face{
	font-family: Shabnam;
	src: url("../Fonts/Shabnam.ttf");
}

:root{
	scroll-behavior: smooth;
}

*{
	margin:0;
    padding:0;
    box-sizing:border-box;
}


body{	
	font-family: Shabnam;
	direction: rtl;
	font-size: 16px;
	background: url("../Images/Background/Background1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}


h1,h2,h3,h4{
	font-weight: 600;
	margin: 10px 0;
}

h1{
	font-size: 1.6em;
}

h2{
	font-size: 1.3em;
}

h3{
	font-size: 1.2em;
}

p{
	margin: 10px 0;
}

input{
	outline: none;
	font-size: 16px;
	font-family: Shabnam;
	border: 1px solid black;
}

textarea{
	outline: none;
	font-size: 16px;
	font-family: Shabnam;
	padding: 10px;
	border: 1px solid black;
	min-width: 40vw;
	min-height: 20vh;
}

button{
	outline: none;
	font-size: 16px;
	font-family: Shabnam;
	border: 1px solid black;
	cursor: pointer;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled){
    cursor: pointer;
}

ul{
	margin: 0;
	padding: 0;
}

hr{
	margin: 10px 0;
}

/****************************** Header ******************************/



/****************************** Top Menu ******************************/

.Top_Menu{
	margin: 0;
	background-color: rgb(5,34,87);
	color: white;
	padding: 20px 0;
	font-size: 12px;
	text-align: right;
	width: 100%;
}

.Top_Menu ul{
	display: inline;
}

#topmL{
	float: left;
}

.Top_Menu li{
	display: inline;
	list-style: none;
	margin: 0 10px;
	transition: .2s;
}

.Top_m_Icon{
	width: 20px;
	height: 1%;
	vertical-align: middle;
}

.Top_Menu a{
	color: white;
	transition: .2s;
}

.Top_Menu a:hover{
	color: yellow;
}

#userOn{
	cursor: pointer;
	transition: .5s;
	padding: 10px;
	border-radius: 10px;
	background: #0943B9;
	box-shadow: 0 0px 5px 5px rgba(0,0,0,.5);
}

#userOn:hover{
	background: linear-gradient(90deg,#A10CD1,#0e6fef, #A10CD1);
}

.DownIcon{
	width: 12px;
	height: 1%;
	margin-right: 20px;
	transform: rotate(90deg);
	transition: .5s;
}


#subMenu_userOn{
	position: absolute;
	background: white;
	color: black;
	font-size: 12px;
	transition: .5s;
	transform: translate(120%);
}

#subMenu_userOn li{
	list-style: none;
	padding: 10px 30px;
	transition: .2s;
}

#subMenu_userOn a{
	padding: 10px;
}

#subMenu_userOn li:hover{
	background-color: #0449A7;
	color: white;
}

/****************************** Main Menu ******************************/

.Main_Menu{
	background: #0e6fef;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 40px;
	color: black;
}

.Main_Menu a{
	padding: 10px;
}

.Main_Menu a:hover{
	background: blue;
	border-radius: 10px;
	color: white;
}

.Main_Menu li{
	display: inline;
	list-style: none;
	margin: 0 10px;
}

.Menu_SelectH{
	background: blue;
	border-bottom: 5px solid rgb(33,155,211);
	border-radius: 10px;
	color: white;
}

/*
.Menu_SelectF{
	color: red;
}
*/

/****************************** Top Middle ******************************/

.TopMiddle{
	text-align: center;
	margin-bottom: 40px; 
}

.TopMiddle div{
	display: inline-table;
	margin: 0 10px;
	vertical-align: top;
}

.LogoTop img{
	width: 180px;
	height: 140px;
}

.SearchBox{
	width: 40vw;
	padding: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	vertical-align: middle;
	margin: 0;
	
}
.SearchBox:focus{
	border: 1px solid blue;
	border-left: 0;
}

.btnSearch{
	background: #0e6fef;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	transition: .2s;
	margin: 0;
}

.btnSearch img{
	width: 40px;
	height: 40px;
	padding: 5px;
	vertical-align: middle;
}

.btnSearch:hover{
	background: #A10CD1;
	border: 1px solid #A10CD1;
}

.telNum_Top{
	background: #0e6fef;
	padding: 10px;
	border-radius: 10px;
	color: white;
	transition: .2s;
}

.telNum_Top img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.telNum_Top:hover{
	background: linear-gradient(90deg,#A10CD1,#0e6fef);
}

/****************************** Banner ******************************/

.BannerImg{
	text-align: center;
	min-height: 500px;
}

.BannerImg img{
	width: 60%;
	border-radius: 30px;
	transition: .2s;
	position: absolute;
	transform: translate(50%);
	animation-name: SlidBanner;
	animation-duration: 15s;
	animation-iteration-count:	infinite;
	overflow: hidden;
}



.BannerImg img:first-child{
	opacity: 100;
	z-index: 10;
	animation-delay: 5s;
}

.BannerImg img:nth-child(2){
	opacity: 100;
	z-index: 9;
	animation-delay: 10s;
}

.BannerImg img:nth-child(3){
	opacity: 100;
	z-index: 8;
	animation-delay: 15s;
}

@keyframes SlidBanner{
	3%{opacity: 0;}
	60%{opacity: 0;}
	63%{opacity: 100;}
	
}

/****************************** Product_Menu ******************************/

/*
.CatProduct{
	width: 900px;
	text-align: center;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	border-bottom: 2px solid blue;
}
*/

.Product_Menu{
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}

.P_M{
	display: inline-table;
	margin: 0 30px;
	padding: 20px 30px;
	background: linear-gradient(40deg,#6bc3ef,#0e6fef);
	border-radius: 10px;
	transition: .2s;
}

.P_M:hover{
	transform: scale(1.2);
	color: black;
}

.Product_Menu img{
	width: 60px;
	height: 60px;
}

/****************************** Main ******************************/

main{
	padding: 20px 10px;
	background: white;
	min-height: 50vh;
}

/****************************** Contact Us Form ******************************/

.Cont_Main{
	text-align: center;
}

.Contact_{
	display: inline-table;
	vertical-align: middle;
	margin: 0 5px;
}

.Frm_Contact{
	text-align: right;
}

.Frm_Contact input{
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 6px 10px;
	width: 40vw;
}

.Frm_Contact input:focus{
	border: 1px solid blue;
}

.Frm_Contact textarea{
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.Frm_Contact textarea:focus{
	border: 1px solid blue;
}

.Frm_Contact button{
	margin: 0 10px;
	padding: 2px 10px;
	border-radius: 10px;
	background: #0e6fef;
	color: white;
}

.Frm_Contact button:hover{
	background: #A10CD1;
}

iframe{
	width: 40vw;
	height: 50vh;
	margin-top: 10px;
}

.alert-dismissible .btn-close {
	right: auto;
	left: 0;
}


/****************************** Footer ******************************/

footer{
	padding: 20px;
	text-align: center;
    background: rgba(5,34,87,.7);
}

footer div{
	padding: 20px;
	display: inline-table;
	text-align: right;
	color: white;
	min-width: 20vw;
}

.footer_div{
	border-left: 1px solid white;
}

.Title_Footer{
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 20px;
}

.InstagramFooter{
	background: linear-gradient(50deg,#dd5718,#dd1818,#7e18dd);
	padding: 5px;
	border-radius: 50px;
}

.TelegramFooter{
	background: #1a62c2;
	padding: 5px;
	border-radius: 50px;
}

.WhatsappFooter{
	background: #09AA3E;
	padding: 5px;
	border-radius: 50px;
}

.StyleLink{
	transition: .2s;
}

.StyleLink:hover{
	transform: scale(1.1);
}


footer img{
	width: 20px;
	height: 1%;
	margin: 0 5px;
	vertical-align: middle;
}

/****************************** Add Product ******************************/

.addProduct{
	padding: 20px 50px;
}

.addProduct div{
	margin: 10px;
}

.addProduct label{
	margin: 5px;
}

.addProduct input , .addProduct textarea{
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	border: 2px solid thin;
}

.addProduct input:focus , .addProduct textarea:focus{
	border: 2px outset blue;
}

.addProduct textarea{
	min-height: 500px;
}

.sub_div_input{
	text-align: center;
	background: white;
	padding: 5px;
	border-radius: 10px;
}

._sub_div_input{
	display: inline-table;
}

.addProduct button{
	padding: 5px 10px;
	border-radius: 10px;
	background: #1545C8;
	color: white;
	border: 0;
	transition: .3s;
}

.addProduct button:hover{
	background: orange;
}

.text_Error{
	color: red;
}

/****************************** Product Card ******************************/

.Product_List{
	text-align: center;
	line-height: 2em;
}

.P_Card{
	display: inline-table;
	min-width: 300px;
	max-width: 300px;
	margin: 20px 10px;
	padding: 0px 10px;
	border-radius: 10px;
	background: white;
	border: 2px solid rgba(0,0,0,.6);
	text-align: right;
	transition: .3s;
}

.P_Image{
	margin: 10px 0px;
}

.P_Image img{
	width: 100%;
	height: 300px;
}

.btn_{
	position: relative;
	margin-top: 10px;
	padding: 0 5px;
	text-align: center;
	top: 15px;
}

.btn_ a{
	display: none;
	margin: 0 2px;
	border-radius: 10px;
	padding: 0px 20px;
	color: white;
	transition: .2s;
}

.P_displayBtn{
	display: inline-table;
}


.P_AddBuy{
	background: #1545C8;
}


.P_Edit{
	background: #059238;
}

.P_Delete{
	background: #FF4346;
}

.P_AddBuy:hover, .P_Edit:hover, .P_Delete:hover{
	transform: scale(1.1);
}


.P_Link{
	transition: .3s;
}

.P_Link:hover{
	color: blue;
}

/****************************** Product Detail ******************************/

.Product_Detail{
	display: grid;
	grid-template-columns: 80% 300px;
}

.Product_Detail div{
	padding: 0 5px;
}

.Product_Detail_2{
	min-width: 300px;
	max-width: 300px;
	min-height: 480px;
	max-height: 480px;
	margin: 20px 10px;
	padding: 0px 10px;
	border-radius: 10px;
	background: white;
	border: 2px solid rgba(0,0,0,.6);
	text-align: center;
}

.image_P{
	margin: 10px 0px;
}

.image_P img{
	width: 100%;
	height: 300px;
}

.Product_Detail_btn{
	padding: 0 5px;
	margin: 10px 0;
}

.Product_Detail_btn a{
	display: none;
	margin: 0 2px;
	border-radius: 10px;
	padding: 0px 20px;
	color: white;
	transition: .2s;
}

.Product_List2{
	text-align: center;
	line-height: 2em;
 	overflow: auto;
  	white-space: nowrap;
}

.P_Card2{
	display: inline-table;
	min-width: 200px;
	max-width: 200px;
	margin: 20px 10px;
	padding: 0px 10px;
	border-radius: 10px;
	background: white;
	border: 2px solid rgba(0,0,0,.6);
	text-align: right;
	transition: .3s;
	font-size: .8em;
}

.P_Image2{
	margin: 10px 0px;
}

.P_Image2 img{
	width: 100%;
	height: 200px;
}

.btn_2{
	position: relative;
	margin-top: 10px;
	padding: 0 3px;
	text-align: center;
	top: 15px;
}

.btn_2 a{
	display: none;
	margin: 0 2px;
	border-radius: 10px;
	padding: 0px 10px;
	color: white;
	transition: .2s;
}

































